<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
        {{ if or .Site.Data.navigation.links.about .Site.Data.navigation.links.services .Site.Data.navigation.links.events .Site.Data.navigation.links.contact }}
            {{ partial "nav.html" . }}
        {{ end }}

        {{ if .Site.Data.hero }}
            {{ partial "hero.html" . }}
        {{ end }}

        {{ if .Site.Data.about }}
            {{ partial "about.html" . }}
        {{ end }}

        {{ if .Site.Data.services.list }}
            {{ partial "services.html" . }}
        {{ end }}

        {{ if .Site.Data.events }}
            {{ partial "events.html" . }}
        {{ end }}

        {{ if .Site.Data.location }}
            {{ partial "location.html" . }}
        {{ end }}

        {{ if .Site.Data.aside }}
            {{ partial "aside.html" . }}
        {{ end }}

        {{ if .Site.Data.contact }}
            {{ partial "contact.html" . }}
        {{ end }}

        {{ if .Site.Data.events }}
            {{ partial "modals.html" . }}
        {{ end }}

        {{ partial "js.html" . }}

        {{ template "_internal/google_analytics.html" . }}
    </body>
</html>
