{{ "<!-- ASIDE -->" | safeHTML }}
<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            {{ with .Site.Data.aside.headline }}<h2>{{ . }}</h2>{{ end }}
            {{ if and .Site.Data.aside.button.link .Site.Data.aside.button.text }}
                <a href="{{ .Site.Data.aside.button.link }}" class="btn btn-default btn-xl wow tada">{{ .Site.Data.aside.button.text }}</a>
            {{ end }}
        </div>
    </div>
</aside>
