<section class="no-padding" id="events">
    <div class="container-fluid">
        <div class="row no-gutter">
            {{ range .Site.Data.events }}
                <div class="col-lg-4 col-sm-6">
                    <a href="#events-{{ .title }}" class="portfolio-box portfolio-link" data-toggle="modal">
                        <img src="{{ .image }}" class="img-responsive" alt="">
                        {{ if and .category .caption }}
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    {{ with .category }}
                                        <div class="project-category text-faded">
                                            {{ . }}
                                        </div>
                                    {{ end }}
                                    {{ with .caption }}
                                        <div class="project-name">
                                            {{ . }}
                                        </div>
                                    {{ end }}
                                </div>
                            </div>
                        {{ end }}
                    </a>
                </div>
            {{ end }}
        </div>
    </div>
</section>
