{{ "<!-- jQuery -->" | safeHTML }}
<script src="{{ "js/jquery.js" }}"></script>
{{ "<!-- Bootstrap Core JavaScript -->" | safeHTML }}
<script src="{{ "js/bootstrap.min.js" }}"></script>
{{ "<!-- Plugin JavaScript -->" | safeHTML }}
<script src="{{ "js/jquery.easing.min.js" }}"></script>
<script src="{{ "js/jquery.fittext.js" }}"></script>
<script src="{{ "js/wow.min.js" }}"></script>
{{ "<!-- Custom Theme JavaScript -->" | safeHTML }}
<script src="{{ "js/creative.js" }}"></script>
