
{{ if and .Site.Data.location.latitude .Site.Data.location.longitude }}
<section id="location" class="no-padding">
    <div class="hidden">
        <input id="gmap-lat" value="{{ .Site.Data.location.latitude }}" />
        <input id="gmap-lng" value="{{ .Site.Data.location.longitude }}" />
    </div>
    <a href="https://www.google.com/maps?z=16&q={{ .Site.Data.location.latitude }},{{ .Site.Data.location.longitude }}&ll={{ .Site.Data.location.latitude }},{{ .Site.Data.location.longitude }}">
        <div id="map">
            &nbsp;
        </div>
    </a>
</section>
{{ end }}
