{{ "<!-- NAVIGATION -->" | safeHTML }}
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        {{ "<!-- Brand and toggle get grouped for better mobile display -->" | safeHTML }}
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{ with .Site.Data.navigation.brand }}
                <a class="navbar-brand page-scroll" href="#page-top">{{ . | markdownify }}</a>
            {{ end }}
        </div>
        {{ "<!-- Collect the nav links, forms, and other content for toggling -->" | safeHTML }}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {{ if and .Site.Data.about .Site.Data.navigation.links.about }}
                    <li>
                        <a class="page-scroll" href="#about">{{ .Site.Data.navigation.links.about }}</a>
                    </li>
                {{ end }}
                {{ if and .Site.Data.services.list .Site.Data.navigation.links.services }}
                    <li>
                        <a class="page-scroll" href="#services">{{ .Site.Data.navigation.links.services }}</a>
                    </li>
                {{ end }}
                {{ if and .Site.Data.events .Site.Data.navigation.links.events }}
                    <li>
                        <a class="page-scroll" href="#events">{{ .Site.Data.navigation.links.events }}</a>
                    </li>
                {{ end }}
                {{ if and .Site.Data.location .Site.Data.navigation.links.location }}
                <li>
                    <a class="page-scroll" href="#location">{{ .Site.Data.navigation.links.location }}</a>
                </li>
                {{ end }}
                {{ if and .Site.Data.contact .Site.Data.navigation.links.contact }}
                    <li>
                        <a class="page-scroll" href="#contact">{{ .Site.Data.navigation.links.contact }}</a>
                    </li>
                {{ end }}
            </ul>
        </div>
        {{ "<!-- /.navbar-collapse -->" | safeHTML }}
    </div>
    {{ "<!-- /.container-fluid -->" | safeHTML }}
</nav>
